
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h2><%= @user.username %>　さんへの質問</h2>
      <% if @question.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %> error </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for(@question, :url => {:controller => 'questions', :action => 'create'}) do |f| %>
        <%= f.text_area :question, size: "60x10" %>
        <%= f.submit '質問する',class: "btn btn-outline-primary" %>
        <%= link_to "戻る", user_path(@user) ,class: "btn btn-outline-dark" %>
      </li>
    <% end %>
  </div>

