<%# 質問者 %>
<div class="card mx-auto mt-3 w-75">
  <div class="card-body">
    <h4 class="card-title">質問内容</h4>
    <p><%= @question.question %></p>
  </div>
  <div class="card-footer">
    <%= attachment_image_tag @question.questioner, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %>
    <%= link_to user_path(@question.questioner), class: "username" do %>
      <%= @question.questioner.username %>
    <% end %>
  </div>
</div>
<%# 矢印 %>
<h1 class="text-center my-2"><i class="far fa-hand-point-down"></i></h1>
<%# 回答者 %>
<div class="card mx-auto w-75">
  <div class="card-body">
    <h4 class="card-title">回答内容</h4>
    <p><%= @question.answer %></p>
    <div class="favorite">
      <%# いいね機能 %>
      <% if current_user.already_liked?(@question) %>
        <%= link_to question_favorites_path(@question), method: :delete do %>
          <span style="color:red;"><i class="fas fa-heart"></i></span>
          <%= @question.favorites.count %>
        <% end %>
      <% else %>
        <%= link_to question_favorites_path(@question), :method => :post do %>
          <span style="color:red;"><i class="far fa-heart"></i></span>
          <%= @question.favorites.count %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= attachment_image_tag @question.questionee, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %>
    <%= link_to user_path(@question.questionee), class: "username" do %>
      <%= @question.questionee.username %>
    <% end %>
  </div>
  <% if current_user == @question.questionee %>
    <%= link_to "質問に答える", edit_user_question_path(@question.questionee_id, @question), class: "btn btn-outline-primary mx-5 my-5" %>
  <% end %>
  <%= link_to "戻る", user_path(@user), class: "btn btn-outline-secondary mx-5 mb-5" %>
</div>
<%= stylesheet_link_tag "questions" %>
