<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>質問内容</div>
      <div class="question">
        <p><%= @question.question %></p>
      </div>
      <div>回答内容</div>
      <div class="answer">
        <p><%= @question.answer %></p>
      </div>
      <%= link_to "戻る",  user_path(@user.id), class:'btn btn-primary' %>
      <%= link_to "この質問を削除する",  user_question_path(@question.questionee_id, @question), method: :delete, class:'btn btn-danger' %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'questions' %>