<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h2>Get Start With Your Account</h2>
      <h4>Already have an account
        <%= render "devise/shared/links" %>
      </h4>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"abcdef@abc.com", :size=>"43" %>
      </div>

      <%#  ユーザー名 %>
      <div class="field">
        <%= f.label :"ユーザー名" %><br />
        <%= f.text_field :username, autofocus: true, placeholder:"username", :size=>"43" %>
      </div>

      <%# 在住ステータス %>
      <div class="field">
        <%= f.label :"在住ステータス" %><br />
        <%= f.select :user_status, User.user_statuses.keys.to_a %>
      </div>

      <%# 国選択　%>
      <div class="field">
        <%= f.label :"国" %><br />
        <input type="hidden" value="<%= @regions_name %>" class="region_names" />
        <%= f.collection_select :country_id, Country.all, :id, :country_name, :prompt =>"国を選択してください。" %>
      </div>


      <%# 都市選択　%>
      <div class="field">
        <%= f.label :"都市" %><br />
        <%= f.collection_select :region_id, [], :id, :region_name, :prompt =>"都市を選択してください。" %>
      </div>


      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(６文字以上ご入力ください)", :size=>"43" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"同じパスワードをご入力ください", :size=>"43" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <% end %>
    </div>
  </div>
</div>