<div class="conrainer">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>詳細変更</h1>
    </div>
  </div>

  <% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %> error </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="image">
        <h4>Image</h4>
        <div class="form-group has-icon">
          <div class="user-edit-image">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
          </div>
          <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        </div>
      </div>
      <div class="name">
        <h4>Name</h4>
        <%= f.text_field :username %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="status">
        <h4>在住ステータス</h4>
        <%= f.select :user_status, User.user_statuses.keys.to_a %>
      </div>
      <div class="place">
        <table>
          <tr>
            <th>
              <%# 国選択　%>
              <div class="field">
                <%= f.label :"国" %><br />
                <input type="hidden" value="<%= @regions_name %>" class="region_names" />
                <%= f.collection_select :country_id, Country.all, :id, :country_name %>
              </div>
            </th>
            <th>
              <%# 都市選択　%>
              <div class="field">
                <%= f.label :"都市" %><br />
                <%= f.collection_select :region_id, [], :id, :region_name %>
              </div>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>Introduction</h4>
      <%= f.text_area :introduction, size: "20x10", class: "form-control" %>
      <br><br>
      <%= f.submit '変更する', class: "btn btn-primary" %>
      <%= link_to '戻る', user_path(@user), class: "btn btn-default" %>
      <div class="delete_btn">
        <%= link_to "アカウントを削除する",user_path(@user), class: "btn btn-danger", method: :delete, "data-confirm" => "本当にアカウントを削除しますか？" %>
      </div>
      <br>
    </div>
  </div>
  <% end %>
</div>

<%= stylesheet_link_tag 'users' %>