<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>未回答　質問一覧</h2>
      <div class="question">
        <% @no_answers.each do | na_question | %>
        <%= link_to user_question_path(@user, @user) do %>
        <div class="question_box">
          <span><%= na_question.question %></span>
          <%# いいね機能 %>
          <% if current_user.already_liked?(na_question) %>
          <%= link_to "",  question_favorites_path(na_question), method: :delete, class: "glyphicon glyphicon-heart" %><%= na_question.liked_users.count %>
          <% else %>
          <%= link_to "",  question_favorites_path(na_question), :method => :post, class: "glyphicon glyphicon-heart-empty" %><%= na_question.liked_users.count %>
          <% end %>
        </div>
        <% end %>
        <% end %>
        <%= link_to "戻る", user_path(@user) ,class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'question_boxes' %>