<div class="container">
  <div class="row4">
    <h1 class="text1">~HITAの使い方~</h1>
    <div class="col-md-10 col-md-offset-1">
      <div class="step_one">
        <h3>STEP 1</h3>
      </div>
      <div class="img1">
        <%= image_tag('frog_find.png') %>
      </div>
      <div class="step_one_text">
        <h3>気になる国と地域を選びましょう</h3>
      </div>
    </div>
  </div>

  <div class="row5">
    <div class="col-md-10 col-md-offset-1">
      <div class="step_two">
        <h3>STEP 2</h3>
      </div>
      <div class="img2">
        <%= image_tag('people.png') %>
      </div>
      <div class="step_two_text">
        <h3>質問したいユーザーを選びます</h3>
      </div>
    </div>
  </div>

  <div class="row6">
    <div class="col-md-10 col-md-offset-1">
      <div class="step_three">
        <h3>STEP 3</h3>
        <div class="img3">
          <%= image_tag('bird.png') %>
        </div>
      </div>
      <div class="step_three_text">
        <h3>質問内容を送るだけ</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="start_btn">
        <%= link_to "HITAをはじめる", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>



<%= stylesheet_link_tag 'homes' %>