<div class="container">

  <div class="row1">
    <h1 class="text1">Welcome to HITA</h1>
    <br>
    <p class="text2">東南アジア　どんな暮らしができるか聞いてみよう！</p>
    <br><br>
    <div class="col-md-6 col-md-offset-1">
      <div class="img1">
        <%= image_tag('frog.png') %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="explain">
        <h1><strong>H</strong>ands</h1>
        <h1><strong>I</strong>n</h1>
        <h1><strong>T</strong>he</h1>
        <h1><strong>A</strong>ir</h1>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="col-md-6 col-md-offset-1">
      <h2>
        <p>海外に住んでみたい!</p>でもリアルな生活感なのか分からず</p>
        一歩が踏み出せない。</p>そんなときにはHITAで</p>海外在住者に質問しよう！</p>
      </h2>
      <br><br><br>
      <div class="sample" style="text-align:center;">
        <%= link_to '使い方', homes_about_path, class: "btn btn-default" %>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag('rabbit.png') %>
    </div>
  </div>
</div>

<div class="row3">
  <h1 class="text1">東南アジア国一覧</h1>
  <div class="col-md-6 col-md-offset-3">
    <%# 未完成 %>

    <%= link_to country_path(1) do %>
    <span>タイ</span>
    <%= image_tag('thailand.png') %>
    <% end %>
    <%= link_to country_path(2) do %>
    <span>ベトナム</span>
    <%= image_tag('vietnam.png') %>
    <% end %>
    <%= link_to country_path(3) do %>
    <span>カンボジア</span>
    <%= image_tag('cambodia.png') %>
    <% end %>

  </div>
</div>

<%= stylesheet_link_tag 'homes' %>