<div class="<%= "underline" if user_signed_in? %>">
  <div class="my-3">
    <h1 class="text-center"><span class="underline-orange">Welcome to HITA</span></h1>
    <h4 class="text-center"><span class="underline-orange">東南アジア　どんな暮らしができるか聞いてみよう！</span></h4>
  </div>
  <div class="row my-5">
    <div class="col-md-6 offset-md-1">
      <div class="img1">
        <%= image_tag('frog.png') %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="explain">
        <h1><span class="underline-blue">H</span>ands</h1>
        <h1><span class="underline-blue">I</span>n</h1>
        <h1><span class="underline-blue">T</span>he</h1>
        <h1><span class="underline-blue">A</span>ir</h1>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-6 offset-md-1">
    <h2>
      <p>海外に住んでみたい!<br>
        でもリアルな生活感なのか分からず<br>
        一歩が踏み出せない。<br>
        そんなときにはHITAで<br>
        海外在住者に質問しよう！<br>
      </p>
    </h2>
    <div class="sample" style="text-align:center;">
      <%= link_to '使い方', homes_about_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="col-md-5">
    <%= image_tag('rabbit.png') %>
  </div>
</div>
<%# 未ログイン時に表示 %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <% unless user_signed_in? %>
      <div class="start_btn">
        <%= link_to "HITAをはじめる", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
<%# ログイン時に表示 %>
<% if user_signed_in? %>
  <h1 class="text-center">東南アジア国一覧</h1>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="country_all">
        <div class="country">
          <%= link_to country_path(2) do %>
            <span>タイ</span>
            <div class="country_img">
              <%= image_tag('thailand.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(3) do %>
            <span>ベトナム</span>
            <div class="country_img">
              <%= image_tag('vietnam.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(4) do %>
            <span>カンボジア</span>
            <div class="country_img">
              <%= image_tag('cambodia.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(5) do %>
            <span>インドネシア</span>
            <div class="country_img">
              <%= image_tag('indonesia.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(6) do %>
            <span>フィリピン</span>
            <div class="country_img">
              <%= image_tag('philippines.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(7) do %>
            <span>ブルネイ</span>
            <div class="country_img">
              <%= image_tag('brunei.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(8) do %>
            <span>マレーシア</span>
            <div class="country_img">
              <%= image_tag('malaysia.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(9) do %>
            <span>ミャンマー</span>
            <div class="country_img">
              <%= image_tag('myanmar.png') %>
            <% end %>
          </div>
        </div>
        <div class="country">
          <%= link_to country_path(10) do %>
            <span>シンガポール</span>
            <div class="country_img">
              <%= image_tag('singapore.png') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= stylesheet_link_tag 'homes' %>
