<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h2>Log In</h2>
      <h4>Need a　HITA account?
        <%= link_to 'Create an account', new_user_registration_path %>
      </h4>

      <div class="col-xs-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <% end %>
      </div>

      <%= link_to 'パスワードをお忘れですか？', new_user_password_path %>

    </div>
  </div>
</div>