<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <h3 class="card-header">Log In</h3>
      <div class="card-body ">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :"メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード" %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>
          <div class="actions text-right">
            <%= f.submit "Log in",class: "btn btn-outline-dark " %>
          </div>
        <% end %>
        <%= link_to 'パスワードをお忘れですか？', new_user_password_path %>
      </div>
    </div>
  </div>
</div>
<div class="actions text-center mt-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, value: "testuser@gmail.com" %>
    <%= f.hidden_field :password, value: "aaaaaa" %>
    <%= f.submit "テストユーザーとして簡単ログイン", class:"btn btn-outline-success"%>
  <% end %>
</div>
