<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pagetop">
        <h1><%=@country.country_name %> のページ</h1>
      </div>
      <%# 都市一覧 %>
      <h3><%=@country.country_name %> の都市一覧</h3>
      <% @regions.each do |region| %>
      <div class="region">
        <%= link_to region_path(region.id) do %>
        <%= region.region_name %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <%#　質問一覧 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>質問一覧</h2>
      <div class="question">
        <% @pagenated_questions.each do | question | %>
        <%= link_to   user_question_path(question.questionee_id, question.id) do %>
        <div class="question_box">

          <% if question.answer == nil%>
          <button type="button" class="btn btn-info btn-sm"><%= "未回答" %></button>
          <% else%>
          <button type="button" class="btn btn-primary btn-sm"><%= "回答済" %></button>
          <% end %>

          <%# いいね機能 %>
          <% if current_user.already_liked?(question) %>
          <%= link_to "",  question_favorites_path(question), method: :delete, class: "glyphicon glyphicon-heart" %><%= question.liked_users.count %>
          <% else %>
          <%= link_to "",  question_favorites_path(question), :method => :post, class: "glyphicon glyphicon-heart-empty" %><%= question.liked_users.count %>
          <% end %> <%= question.region.region_name %>
          <br>
          <span><%= question.question %></span>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= paginate @pagenated_questions %>
    </div>
  </div>

  <%#　ユーザー一覧 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>ユーザー一覧</h2>
      <div class="user">
        <% @pagenated_users.each do | user | %>
        <%= link_to   user_path(user) do %>
        <div class="user_box">
          <div class="user_box_head">
            <span><%= user.country.country_name %>|<%= user.region.region_name %></span>
          </div>
          <span><%= user.username %></span>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= paginate @pagenated_users %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'question_boxes' %>
<%= stylesheet_link_tag 'countries' %>