<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1><%=@country.country_name %> のページ</h1>


      <%# 都市一覧 %>
      <h3><%=@country.country_name %> の都市一覧</h3>
      <% @regions.each do |region| %>
      <div class="clearfix">
        <div class="region">
          <%= link_to region_path(region.id) do %>
          <%= region.region_name %>
          <% end %>
        </div>
      </div>
      <% end %>

      <%# 検索機能（形だけ） %>
      <h3>Search</h3>
      <ul class="nav navbar navbar-nav">
        <form class="form-inline">
          <input class="form-control mr-sm-1" type="search" placeholder="Search">
          <button class="btn btn-primary" type="submit">検索</button>
        </form>
      </ul>
    </div>
  </div>
</div>

<%#　質問一覧 %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>質問一覧</h2>
    <div class="question">
      <% @questions.each do | question | %>
      <%= link_to   user_question_path(question.questionee_id, question.id) do %>
      <div class="question_box">
        <% if question.answer == nil%>
        <%= "未回答" %>
        <% else%>
        <%= "回答済み" %>
        <% end %>
        <br>
        <span><%= question.question %></span>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<%#　ユーザー一覧 %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>ユーザー一覧</h2>
    <div class="user">
      <% @users.each do | user | %>
      <%= link_to   user_path(user) do %>
      <div class="user_box">
        <div class="user_box_head">
          <span><%= user.country.country_name %>|<%= user.region.region_name %></span>
        </div>
        <span><%= user.username %></span>
        <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'question_boxes' %>