<!DOCTYPE html>
<html>
  <head>
    <title>Hita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <%= render 'layouts/header' %>
      </header>
    </div>
    <%# エラーメッセージ %>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <% if flash[:notice] %>
            <div class="row">
              <p class="text-success">
                <%= flash[:notice]%>
              </p>
            </div>
          <% elsif flash[:alert] %>
            <div class="row">
              <p class="text-danger">
                <%= flash[:alert]%>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# メイン %>
    <main>
      <div class="container">
        <div class="yield">
          <%= yield %>
        </div>
      </div>
    </main>
    <%# フッタ %>
    <div class="container">
      <footer>
        <div class="copyright">
          <p class="text-center">© 2020 HITA</p>
        </div>
      </footer>
    </div>
  </body>
</html>
