<!DOCTYPE html>
<html>
  <head>
    <title>Hita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0833763a83.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class='sticky-top'>
      <%= render 'layouts/header' %>
    </header>
    <%# エラーメッセージ %>
    <% if flash[:notice] %>
      <p class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice]%>
        <%# メッセージ消すボタン %>
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
    <% elsif flash[:alert] %>
      <p class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert]%>
        <%# メッセージ消すボタン %>
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
    <% end %>
    <%# メイン %>
    <main>
      <div class="yield">
        <%= yield %>
      </div>
    </main>
    <%# フッタ %>
    <footer calss="sticky-bottom">
      <div class="copyright">
        <p class="text-center">© 2020 HITA</p>
      </div>
    </footer>
  </body>
</html>
